# Section 1 - Import Data
____

## Imports

In [1]:
import pandas as pd
import numpy as np
import re

## Pull Wine Production Data

Wine production data sourced from USDA National Agricultural Statistics Service

In [2]:
df2009 = pd.read_csv('https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/2009/200910cactb00.csv')

In [3]:
df2008 = pd.read_csv('https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/2008/200810cactb00.csv')

In [4]:
df2007 = pd.read_csv('https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/2007/200708cactb00.csv')

In [5]:
df2006 = pd.read_csv('https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/2006/200608cactb00.csv')

In [6]:
df2005 = pd.read_csv('https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/2005/200508cactb00.csv')

In [7]:
df2004 = pd.read_csv('https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/2004/200410cactb00.csv')

In [8]:
df2003 = pd.read_csv('https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/2003/200308cactb00.csv')

In [9]:
df2002 = pd.read_csv('https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/2002/200208cactb00.csv')

In [10]:
df2001 = pd.read_csv('https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/2001/200108cactb00.csv')

In [11]:
df2000 = pd.read_csv('https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/2000/200008cactb00.csv')

In [12]:
df2020 = pd.read_csv('https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/2020/main_data_table.csv')

In [13]:
df2019 = pd.read_csv('https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/2019/201908cropyear.csv')

In [14]:
df2018 = pd.read_csv('https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/2018/2018cactbsErrata.csv')

In [15]:
df2017 = pd.read_csv('https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/2017/201708cactb00.csv')

In [16]:
df2016 = pd.read_csv('https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/2016/2016cropyear.csv')

In [17]:
df2015 = pd.read_csv('https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/2015/2015cropyear.csv')

In [18]:
df2014 = pd.read_csv('https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/2014/2014cropyear.csv')

In [19]:
df2013 = pd.read_csv('https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/2013/2013cropyear.csv')

In [20]:
df2012 = pd.read_csv('https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/2012/201212cactb00.csv')

In [21]:
df2011 = pd.read_csv('https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/2011/201112cactb00.csv')

In [22]:
df2010 = pd.read_csv('https://www.nass.usda.gov/Statistics_by_State/California/Publications/AgComm/2010/201010cactb00.csv')

In [23]:
wine_df_list = [df2010, df2011, df2012, df2013, df2014, df2015, df2016, df2017, df2018, df2019, df2020]

In [24]:
wine_df_list = [df2000, df2001, df2002, df2003, df2004, df2005, df2006, df2007, df2008, df2009,  
                df2010, df2011, df2012, df2013, df2014, df2015, df2016, df2017, df2018, df2019, df2020]

## Make Sure all columns match

In [25]:
#there are 4 differnt versions of the column names
{tuple(wine.columns) for wine in wine_df_list}

{('Year',
  ' Commodity Code',
  ' Crop Name',
  ' County Code',
  ' County',
  ' Harvested Acres',
  ' Yield',
  ' Production',
  ' Price P/U',
  ' Unit',
  ' Value'),
 ('Year',
  ' Commodity Code',
  ' Crop Name',
  ' County Code',
  ' County',
  ' Harvested Acres',
  ' Yield (Unit/Acre)',
  ' Production',
  ' Price (Dollars/Unit)',
  ' Unit',
  ' Value (Dollars)'),
 ('Year',
  'Commodity Code',
  'Crop Name',
  'County Code',
  'County',
  'Harvested Acres',
  'Yield',
  'Production',
  'Price P/U',
  'Unit',
  'Value'),
 ('year',
  ' commodity',
  ' cropname',
  ' countycode',
  ' county',
  ' acres',
  ' yield',
  ' production',
  ' price_per',
  ' unit',
  ' value')}

In [26]:
{tuple(wine.shape) for wine in wine_df_list}

{(1850, 11),
 (2106, 11),
 (2115, 11),
 (2134, 11),
 (2140, 11),
 (2171, 11),
 (2177, 11),
 (2249, 11),
 (2272, 11),
 (2276, 11),
 (2302, 11),
 (2304, 11),
 (2314, 11),
 (2316, 11),
 (2335, 11),
 (2338, 11),
 (2347, 11),
 (2380, 11),
 (2425, 11),
 (2457, 11),
 (2573, 11)}

In [27]:
columns = ['Year',
  'Commodity Code',
  'Crop Name',
  'County Code',
  'County',
  'Harvested Acres',
  'Yield',
  'Production',
  'Price P/U',
  'Unit',
  'Value']

In [28]:
for wine in wine_df_list:
    wine.rename(columns={k:v for k,v in zip(wine.columns, columns)}, inplace=True)

In [29]:
{tuple(wine.columns) for wine in wine_df_list}

{('Year',
  'Commodity Code',
  'Crop Name',
  'County Code',
  'County',
  'Harvested Acres',
  'Yield',
  'Production',
  'Price P/U',
  'Unit',
  'Value')}

Columns now match

## Now merge to one DataFrame

In [30]:
df = pd.DataFrame(columns=columns)
for wine in wine_df_list:
    df = pd.concat([df, wine])

In [31]:
df.head()

,Year,Commodity Code,Crop Name,County Code,County,Harvested Acres,Yield,Production,Price P/U,Unit,Value
0,2000,268099,ALMOND HULLS,7,Butte,,,27969,70,TON,1958000
1,2000,268099,ALMOND HULLS,11,Colusa,,,18530,70,TON,1297000
2,2000,268099,ALMOND HULLS,19,Fresno,,,85700,77,TON,6599000
3,2000,268099,ALMOND HULLS,21,Glenn,,,16790,80,TON,1343000
4,2000,268099,ALMOND HULLS,29,Kern,,,143000,70,TON,10020000

Make sure all rows were included

In [32]:
df.shape

(47581, 11)

In [33]:
sum([wine.shape[0] for wine in wine_df_list])

47581

Same number of rows

## Check for missing values

In [34]:
df.isna().sum()

Year                  0
Commodity Code        0
Crop Name             0
County Code           0
County                0
Harvested Acres    3068
Yield              4503
Production         3903
Price P/U          3728
Unit               4294
Value                 0
dtype: int64

In [35]:
df.describe()

,Year,Commodity Code,Crop Name,County Code,County,Harvested Acres,Yield,Production,Price P/U,Unit,Value
count,47581,47581,47581,47581,47581,44513,43078,43678,43853,43287,47581
unique,21,353,707,60,124,13151,7464,17914,22471,49,31216
top,2000,194699,PASTURE RANGE,999,State Totals,,,,,,150000
freq,2573,1135,924,6021,4336,10802,17173,12349,13564,12078,44

## Export to csv

In [36]:
df.to_csv('../datasets/wine_data_2000_2020.csv')

## Import Climate Data

**California County Code**

In [37]:
california_county = {'Alameda':'001', 'Kings':'031' ,'Placer': '061',' Sierra': '091',
                     'Alpine':'003', 'Lake':'033', 'Plumas':'063', 'Siskiyou':'093', 'Amador':'005', 
                     'Lassen':'035', 'Riverside': '065', 'Solano': '095', 'Butte':'007', 'Los Angeles': '037', 
                     'Sacramento':'067', 'Sonoma': '097', 'Calaveras': '009', 'Madera':'039', 'San Benito': '069',
                     'Stanislau s': '099', 'Colusa': '011', 'Marin': '041', 'San Bernardino': '071', 'Sutter':'101',
                     'Contra Costa': '013', 'Mariposa':'043', 'San Diego': '073', 'Tehama':'103', 
                     'Del Norte':'015', 'Mendocino':'045', 'San Francisco':'075', 'Trinity':'105', 
                     'El Dorado':'017', 'Merced':'047', 'San Joaquin':'077', 'Tulare':'107', 
                     'Fresno':'019', 'Modoc':'049', 'San Luis Obispo':'079', 'Tuolumne':'109', 
                     'Glenn':'021', 'Mono':'051', 'San Mateo':'081', 'Ventura':'111', 
                     'Humboldt':'023', 'Monterey':'053', 'Santa Barbara':'083', 'Yolo':'113',
                     'Imperial':'025', 'Napa':'055', 'Santa Clara':'085', 'Yuba':'115'}

**Step 1** Importing Maximum, Minimum, Average Temperature and Precipitation for all California's Counties

In [38]:
lst_tmin = []
for key, value in california_county.items():
    lst_tmin.append(pd.read_csv(f'https://www.ncdc.noaa.gov/cag/county/time-series/CA-{value}-tmin-all-1-2000-2020.csv'))

    
tmin = pd.concat(lst_tmin, axis=1)

In [39]:
tmin.head(1)

,Alameda County,California,Minimum Temperature,Kings County,California,Minimum Temperature,Placer County,California,Minimum Temperature,Sierra County,...,Minimum Temperature,Napa County,California,Minimum Temperature,Santa Clara County,California,Minimum Temperature,Yuba County,California,Minimum Temperature
0,Units: Degrees Fahrenheit,NaN,NaN,Units: Degrees Fahrenheit,NaN,NaN,Units: Degrees Fahrenheit,NaN,NaN,Units: Degrees Fahrenheit,...,NaN,Units: Degrees Fahrenheit,NaN,NaN,Units: Degrees Fahrenheit,NaN,NaN,Units: Degrees Fahrenheit,NaN,NaN

In [40]:
lst_tmax = []
for key, value in california_county.items():
    lst_tmax.append(pd.read_csv(f'https://www.ncdc.noaa.gov/cag/county/time-series/CA-{value}-tmax-all-1-2000-2020.csv'))
    
tmax = pd.concat(lst_tmax, axis=1)

In [41]:
tmax.head(1)

,Alameda County,California,Maximum Temperature,Kings County,California,Maximum Temperature,Placer County,California,Maximum Temperature,Sierra County,...,Maximum Temperature,Napa County,California,Maximum Temperature,Santa Clara County,California,Maximum Temperature,Yuba County,California,Maximum Temperature
0,Units: Degrees Fahrenheit,NaN,NaN,Units: Degrees Fahrenheit,NaN,NaN,Units: Degrees Fahrenheit,NaN,NaN,Units: Degrees Fahrenheit,...,NaN,Units: Degrees Fahrenheit,NaN,NaN,Units: Degrees Fahrenheit,NaN,NaN,Units: Degrees Fahrenheit,NaN,NaN

In [42]:
lst_avg = []
for key, value in california_county.items():
    lst_avg.append(pd.read_csv(f'https://www.ncdc.noaa.gov/cag/county/time-series/CA-{value}-tavg-all-1-2000-2020.csv'))

    
tavg = pd.concat(lst_avg, axis=1)

In [43]:
tavg.head(1)

,Alameda County,California,Average Temperature,Kings County,California,Average Temperature,Placer County,California,Average Temperature,Sierra County,...,Average Temperature,Napa County,California,Average Temperature,Santa Clara County,California,Average Temperature,Yuba County,California,Average Temperature
0,Units: Degrees Fahrenheit,NaN,NaN,Units: Degrees Fahrenheit,NaN,NaN,Units: Degrees Fahrenheit,NaN,NaN,Units: Degrees Fahrenheit,...,NaN,Units: Degrees Fahrenheit,NaN,NaN,Units: Degrees Fahrenheit,NaN,NaN,Units: Degrees Fahrenheit,NaN,NaN

In [44]:
lst_p = []
for key, value in california_county.items():
    lst_p.append(pd.read_csv(f'https://www.ncdc.noaa.gov/cag/county/time-series/CA-{value}-pcp-all-1-2000-2020.csv'))

    
p = pd.concat(lst_p, axis=1)

In [45]:
p.head(1)

,Alameda County,California,Precipitation,Kings County,California,Precipitation,Placer County,California,Precipitation,Sierra County,...,Precipitation,Napa County,California,Precipitation,Santa Clara County,California,Precipitation,Yuba County,California,Precipitation
0,Units: Inches,NaN,NaN,Units: Inches,NaN,NaN,Units: Inches,NaN,NaN,Units: Inches,...,NaN,Units: Inches,NaN,NaN,Units: Inches,NaN,NaN,Units: Inches,NaN,NaN

**Step 2** Cleaning the imported data

Saving Dataset

In [46]:
tmin.to_csv('../datasets/tmin_raw.csv')
tmax.to_csv('../datasets/tmax_raw.csv')
tavg.to_csv('../datasets/tavg_raw.csv')
p.to_csv('../datasets/prec_raw.csv')

# Section 2 - Cleaning Data
____

## Cleaning Production Data

### Read in Data

In [47]:
wine = pd.read_csv('../datasets/wine_data_2000_2020.csv')

In [48]:
wine.head()

,Unnamed: 0,Year,Commodity Code,Crop Name,County Code,County,Harvested Acres,Yield,Production,Price P/U,Unit,Value
0,0,2000,268099,ALMOND HULLS,7,Butte,,,27969,70,TON,1958000
1,1,2000,268099,ALMOND HULLS,11,Colusa,,,18530,70,TON,1297000
2,2,2000,268099,ALMOND HULLS,19,Fresno,,,85700,77,TON,6599000
3,3,2000,268099,ALMOND HULLS,21,Glenn,,,16790,80,TON,1343000
4,4,2000,268099,ALMOND HULLS,29,Kern,,,143000,70,TON,10020000

In [49]:
wine.columns

Index(['Unnamed: 0', 'Year', 'Commodity Code', 'Crop Name', 'County Code',
       'County', 'Harvested Acres', 'Yield', 'Production', 'Price P/U', 'Unit',
       'Value'],
      dtype='object')

## Cleaning and Structuring

In [50]:
wine[wine['Crop Name']== 'GRAPES WINE ']['Unit'].unique()

array(['TON ', '  ', '    ', 'TONS ', 'Tons ', ' '], dtype=object)

In [51]:
# wine =  wine[wine['Crop Name']== 'GRAPES WINE ']
wine = wine[(wine['Crop Name']=='GRAPES WINE ')|(wine['Crop Name']=='GRAPES WINE')]

In [52]:
wine.drop(columns=['Unnamed: 0', 'Commodity Code', 'Crop Name', 'Unit'], inplace=True)
wine

,Year,County Code,County,Harvested Acres,Yield,Production,Price P/U,Value
1075,2000,1,Alameda,2602,2.11,5483,1185,6498000
1076,2000,9,Calaveras,470,3.60,1690,1000,1690000
1077,2000,17,El Dorado,1165,2.92,3400,1194,4059600
1078,2000,19,Fresno,75139,11.12,835310,177,147550000
1079,2000,29,Kern,46809,8.86,414680,187,77714000
...,...,...,...,...,...,...,...,...
46552,2020,99,Stanislaus,8500,9.49,80700,440.61,35557000
46553,2020,103,Tehama,138,4.23,584,1804.79,1054000
46554,2020,107,Tulare,6500,17.23,112000,317,35504000
46555,2020,113,Yolo,19200,7.81,150000,699.67,104951000
46556,2020,999,State Totals,554200,6.23,3449960,789.63,2728159000

In [53]:
wine['County'] = wine['County'].map(lambda x: re.search(r'[A-z]+([[\s][A-z]+)+|[A-z]+', x).group(0))

<ipython-input-53-0cd26eb7fe6e>:1: FutureWarning: Possible nested set at position 8
  wine['County'] = wine['County'].map(lambda x: re.search(r'[A-z]+([[\s][A-z]+)+|[A-z]+', x).group(0))

In [54]:
counties = ['Napa', 'Sonoma', 'San Joaquin', 'Fresno', 'San Luis Obispo', 'Sacramento', 'Madera', 'Monterey', 'Yolo', 'Santa Barbara']

## Check if Top Producing Counties are in Dataset

In [55]:
production_by_counties = dict(wine['County'].value_counts())

In [56]:
production_by_counties

{'Kings': 21,
 'Merced': 21,
 'Calaveras': 21,
 'Solano': 21,
 'San Benito': 21,
 'Santa Clara': 21,
 'Lake': 21,
 'Madera': 21,
 'Sonoma': 21,
 'Napa': 21,
 'San Bernardino': 21,
 'Yolo': 21,
 'Nevada': 21,
 'Sacramento': 21,
 'San Diego': 21,
 'El Dorado': 21,
 'Santa Cruz': 21,
 'Marin': 21,
 'Kern': 21,
 'Alameda': 21,
 'Riverside': 21,
 'Fresno': 21,
 'Tulare': 21,
 'Mendocino': 21,
 'San Mateo': 21,
 'San Joaquin': 21,
 'Santa Barbara': 20,
 'San Luis Obispo': 20,
 'Placer': 20,
 'Mariposa': 20,
 'Monterey': 19,
 'Amador': 19,
 'Trinity': 18,
 'State Totals': 17,
 'Sum of Others': 14,
 'Yuba': 12,
 'Shasta': 12,
 'Colusa': 10,
 'Contra Costa': 6,
 'Mono': 4,
 'State Total': 4,
 'Tehama': 3,
 'Stanislaus': 2,
 'San Luis Obisp': 1}

In [57]:
for county in counties:
    print(production_by_counties[county])

21
21
21
21
20
21
21
19
21
20

In [58]:
wine.isna().sum()

Year               0
County Code        0
County             0
Harvested Acres    0
Yield              4
Production         4
Price P/U          4
Value              0
dtype: int64

## Export to CSV
___

In [59]:
wine.head()

,Year,County Code,County,Harvested Acres,Yield,Production,Price P/U,Value
1075,2000,1,Alameda,2602,2.11,5483,1185,6498000
1076,2000,9,Calaveras,470,3.60,1690,1000,1690000
1077,2000,17,El Dorado,1165,2.92,3400,1194,4059600
1078,2000,19,Fresno,75139,11.12,835310,177,147550000
1079,2000,29,Kern,46809,8.86,414680,187,77714000

In [60]:
wine.shape

(767, 8)

In [61]:
set(wine['Year'])

{2000,
 2001,
 2002,
 2003,
 2004,
 2005,
 2006,
 2007,
 2008,
 2009,
 2010,
 2011,
 2012,
 2013,
 2014,
 2015,
 2016,
 2017,
 2018,
 2019,
 2020}

In [62]:
wine.to_csv('../datasets/cleaned_production_data.csv')

# Cleaning Climate Data
___

**Importing & Cleaning Tmax**

In [63]:
tmax = pd.read_csv('../datasets/tmax_raw.csv')
tmax.head(5)

,Unnamed: 0,Alameda County,California,Maximum Temperature,Kings County,California.1,Maximum Temperature.1,Placer County,California.2,Maximum Temperature.2,...,Maximum Temperature.48,Napa County,California.49,Maximum Temperature.49,Santa Clara County,California.50,Maximum Temperature.50,Yuba County,California.51,Maximum Temperature.51
0,0,Units: Degrees Fahrenheit,NaN,NaN,Units: Degrees Fahrenheit,NaN,NaN,Units: Degrees Fahrenheit,NaN,NaN,...,NaN,Units: Degrees Fahrenheit,NaN,NaN,Units: Degrees Fahrenheit,NaN,NaN,Units: Degrees Fahrenheit,NaN,NaN
1,1,Missing: -99,NaN,NaN,Missing: -99,NaN,NaN,Missing: -99,NaN,NaN,...,NaN,Missing: -99,NaN,NaN,Missing: -99,NaN,NaN,Missing: -99,NaN,NaN
2,2,Date,Value,NaN,Date,Value,NaN,Date,Value,NaN,...,NaN,Date,Value,NaN,Date,Value,NaN,Date,Value,NaN
3,3,200001,57.0,NaN,200001,59.6,NaN,200001,47.4,NaN,...,NaN,200001,55.9,NaN,200001,56.2,NaN,200001,53.7,NaN
4,4,200002,57.7,NaN,200002,62.6,NaN,200002,49.4,NaN,...,NaN,200002,56.7,NaN,200002,57.2,NaN,200002,56.0,NaN

In [64]:
#dropping the maximum temperature column (wrongly imported and has only nan value)
col = [col for col in tmax.columns if 'Maximum' not in col]
tmax= tmax[col]

#dropping the unnamed columns and first 3 rows as not needed
tmax.drop(columns='Unnamed: 0', inplace = True)
tmax = tmax.iloc[3:,:]

#creating the dictionary that I will use to rename the column of my df
col_county = [col for col in tmax.columns if 'County' in col]
col_california = [col for col in tmax.columns if 'California' in col]
dictionary = dict(zip(col_california,col_county))

#saving the year column as it will be imported later in the final df
year = tmax.iloc[:,0]

#now I can filter only the column with temperature value
tmax = tmax[col_california]

#renaming the column
tmax.rename(columns=dictionary, inplace=True)

#insert the year
tmax['year']=year

#checking the df
tmax.head(5)

,Alameda County,Kings County,Placer County,Sierra County,Alpine County,Lake County,Plumas County,Siskiyou County,Amador County,Lassen County,...,Ventura County,Humboldt County,Monterey County,Santa Barbara County,Yolo County,Imperial County,Napa County,Santa Clara County,Yuba County,year
3,57.0,59.6,47.4,41.1,38.4,50.9,41.9,41.0,51.7,40.3,...,60.5,49.6,60.0,61.5,57.4,72.0,55.9,56.2,53.7,200001
4,57.7,62.6,49.4,42.5,40.9,51.1,42.3,44.6,54.2,43.0,...,56.9,52.9,59.9,59.4,58.4,73.4,56.7,57.2,56.0,200002
5,63.1,67.7,56.5,50.3,46.4,60.2,50.9,50.8,60.6,50.6,...,61.6,56.8,64.2,62.6,67.0,77.8,64.8,62.0,63.9,200003
6,68.9,77.9,64.4,58.3,54.0,66.8,59.2,60.0,68.7,60.1,...,68.2,63.9,71.1,68.0,75.2,89.9,71.3,68.3,72.6,200004
7,73.3,85.6,69.1,63.1,58.8,71.6,64.3,63.6,73.6,64.8,...,74.0,66.1,77.2,73.6,80.8,98.0,76.3,73.6,77.4,200005

In [65]:
#renaming Tmax Column
def adding_string(value):
    return value + ' ' + 'Tmax'
adding_string('Alameda County')
col_county_2 = []
for col in col_county:
    col_county_2.append(adding_string(col))
dictionary_2 = dict(zip(col_county, col_county_2))
tmax.rename(columns=dictionary_2, inplace=True)

In [66]:
#changinf dtypes as all objects
column = [col for col in tmax.columns]
for name in column:
    for col in tmax[name]:
       tmax[name] = tmax[name].astype(float)

In [67]:
tmax.dtypes

Alameda County Tmax            float64
Kings County Tmax              float64
Placer County Tmax             float64
Sierra County Tmax             float64
Alpine County Tmax             float64
Lake County Tmax               float64
Plumas County Tmax             float64
Siskiyou County Tmax           float64
Amador County Tmax             float64
Lassen County Tmax             float64
Riverside County Tmax          float64
Solano County Tmax             float64
Butte County Tmax              float64
Los Angeles County Tmax        float64
Sacramento County Tmax         float64
Sonoma County Tmax             float64
Calaveras County Tmax          float64
Madera County Tmax             float64
San Benito County Tmax         float64
Stanislaus County Tmax         float64
Colusa County Tmax             float64
Marin County Tmax              float64
San Bernardino County Tmax     float64
Sutter County Tmax             float64
Contra Costa County Tmax       float64
Mariposa County Tmax           float64
San Diego County Tmax          float64
Tehama County Tmax             float64
Del Norte County Tmax          float64
Mendocino County Tmax          float64
San Francisco County Tmax      float64
Trinity County Tmax            float64
El Dorado County Tmax          float64
Merced County Tmax             float64
San Joaquin County Tmax        float64
Tulare County Tmax             float64
Fresno County Tmax             float64
Modoc County Tmax              float64
San Luis Obispo County Tmax    float64
Tuolumne County Tmax           float64
Glenn County Tmax              float64
Mono County Tmax               float64
San Mateo County Tmax          float64
Ventura County Tmax            float64
Humboldt County Tmax           float64
Monterey County Tmax           float64
Santa Barbara County Tmax      float64
Yolo County Tmax               float64
Imperial County Tmax           float64
Napa County Tmax               float64
Santa Clara County Tmax        float64
Yuba County Tmax               float64
year                           float64
dtype: object

In [68]:
# saving df
tmax.to_csv('../datasets/tmax_cleaned.csv')

**Importing & Cleaning Tmin**

In [69]:
tmin = pd.read_csv('../datasets/tmin_raw.csv')
tmin.head(5)

,Unnamed: 0,Alameda County,California,Minimum Temperature,Kings County,California.1,Minimum Temperature.1,Placer County,California.2,Minimum Temperature.2,...,Minimum Temperature.48,Napa County,California.49,Minimum Temperature.49,Santa Clara County,California.50,Minimum Temperature.50,Yuba County,California.51,Minimum Temperature.51
0,0,Units: Degrees Fahrenheit,NaN,NaN,Units: Degrees Fahrenheit,NaN,NaN,Units: Degrees Fahrenheit,NaN,NaN,...,NaN,Units: Degrees Fahrenheit,NaN,NaN,Units: Degrees Fahrenheit,NaN,NaN,Units: Degrees Fahrenheit,NaN,NaN
1,1,Missing: -99,NaN,NaN,Missing: -99,NaN,NaN,Missing: -99,NaN,NaN,...,NaN,Missing: -99,NaN,NaN,Missing: -99,NaN,NaN,Missing: -99,NaN,NaN
2,2,Date,Value,NaN,Date,Value,NaN,Date,Value,NaN,...,NaN,Date,Value,NaN,Date,Value,NaN,Date,Value,NaN
3,3,200001,42.8,NaN,200001,40.4,NaN,200001,32.9,NaN,...,NaN,200001,39.6,NaN,200001,41.5,NaN,200001,39.1,NaN
4,4,200002,44.3,NaN,200002,43.9,NaN,200002,34.8,NaN,...,NaN,200002,42.4,NaN,200002,42.4,NaN,200002,41.9,NaN

In [70]:
#dropping the minimum temperature column (wrongly imported and has only nan value)
col = [col for col in tmin.columns if 'Minimum' not in col]
tmin= tmin[col]
#dropping first 3 rows as not needed + unnamed
tmin.drop(columns='Unnamed: 0', inplace = True)
tmin = tmin.iloc[3:,:]
#creating the dictionary that I will use to rename the column of my df
col_county = [col for col in tmin.columns if 'County' in col]
col_california = [col for col in tmin.columns if 'California' in col]
dictionary = dict(zip(col_california,col_county))
#saving the year column as it will be imported later in the final df
year = tmin.iloc[:,0]
#now I can filter only the column with temperature value
tmin = tmin[col_california]
#renaming the column
tmin.rename(columns=dictionary, inplace=True)
#insert the year
tmin['year'] = year
#checking the df
tmin.head(1)

,Alameda County,Kings County,Placer County,Sierra County,Alpine County,Lake County,Plumas County,Siskiyou County,Amador County,Lassen County,...,Ventura County,Humboldt County,Monterey County,Santa Barbara County,Yolo County,Imperial County,Napa County,Santa Clara County,Yuba County,year
3,42.8,40.4,32.9,26.8,25.0,37.2,26.6,28.3,36.9,23.5,...,39.4,37.7,39.9,41.4,40.1,46.4,39.6,41.5,39.1,200001

In [71]:
#renaming Tmax Column
def adding_string(value):
    return value + ' ' + 'Tmin'
col_county_2 = []
for col in col_county:
    col_county_2.append(adding_string(col))
dictionary_2 = dict(zip(col_county, col_county_2))
tmin.rename(columns=dictionary_2, inplace=True)

In [72]:
#changinf dtypes as all objects
column = [col for col in tmin.columns]
for name in column:
    for col in tmin[name]:
       tmin[name] = tmin[name].astype(float)

In [73]:
tmin.dtypes

Alameda County Tmin            float64
Kings County Tmin              float64
Placer County Tmin             float64
Sierra County Tmin             float64
Alpine County Tmin             float64
Lake County Tmin               float64
Plumas County Tmin             float64
Siskiyou County Tmin           float64
Amador County Tmin             float64
Lassen County Tmin             float64
Riverside County Tmin          float64
Solano County Tmin             float64
Butte County Tmin              float64
Los Angeles County Tmin        float64
Sacramento County Tmin         float64
Sonoma County Tmin             float64
Calaveras County Tmin          float64
Madera County Tmin             float64
San Benito County Tmin         float64
Stanislaus County Tmin         float64
Colusa County Tmin             float64
Marin County Tmin              float64
San Bernardino County Tmin     float64
Sutter County Tmin             float64
Contra Costa County Tmin       float64
Mariposa County Tmin           float64
San Diego County Tmin          float64
Tehama County Tmin             float64
Del Norte County Tmin          float64
Mendocino County Tmin          float64
San Francisco County Tmin      float64
Trinity County Tmin            float64
El Dorado County Tmin          float64
Merced County Tmin             float64
San Joaquin County Tmin        float64
Tulare County Tmin             float64
Fresno County Tmin             float64
Modoc County Tmin              float64
San Luis Obispo County Tmin    float64
Tuolumne County Tmin           float64
Glenn County Tmin              float64
Mono County Tmin               float64
San Mateo County Tmin          float64
Ventura County Tmin            float64
Humboldt County Tmin           float64
Monterey County Tmin           float64
Santa Barbara County Tmin      float64
Yolo County Tmin               float64
Imperial County Tmin           float64
Napa County Tmin               float64
Santa Clara County Tmin        float64
Yuba County Tmin               float64
year                           float64
dtype: object

In [74]:
# saving df
tmin.to_csv('../datasets/tmin_cleaned.csv')

**Importing & Cleaning Tavg**

In [75]:
tavg = pd.read_csv('../datasets/tavg_raw.csv')
tavg.head(1)

,Unnamed: 0,Alameda County,California,Average Temperature,Kings County,California.1,Average Temperature.1,Placer County,California.2,Average Temperature.2,...,Average Temperature.48,Napa County,California.49,Average Temperature.49,Santa Clara County,California.50,Average Temperature.50,Yuba County,California.51,Average Temperature.51
0,0,Units: Degrees Fahrenheit,NaN,NaN,Units: Degrees Fahrenheit,NaN,NaN,Units: Degrees Fahrenheit,NaN,NaN,...,NaN,Units: Degrees Fahrenheit,NaN,NaN,Units: Degrees Fahrenheit,NaN,NaN,Units: Degrees Fahrenheit,NaN,NaN

In [76]:
#dropping the average temperature column (wrongly imported and has only nan value)
col = [col for col in tavg.columns if 'Average' not in col]
tavg= tavg[col]
#dropping the unnamed columns and first 3 rows as not needed
tavg.drop(columns='Unnamed: 0', inplace = True)
tavg = tavg.iloc[3:,:]
#creating the dictionary that I will use to rename the column of my df
col_county = [col for col in tavg.columns if 'County' in col]
col_california = [col for col in tavg.columns if 'California' in col]
dictionary = dict(zip(col_california,col_county))
#saving the year column as it will be imported later in the final df
year = tavg.iloc[:,0]
#now I can filter only the column with temperature value
tavg = tavg[col_california]
#renaming the column
tavg.rename(columns=dictionary, inplace=True)
#insert the year
tavg['year'] = year
#checking the df
tavg.head(1)

,Alameda County,Kings County,Placer County,Sierra County,Alpine County,Lake County,Plumas County,Siskiyou County,Amador County,Lassen County,...,Ventura County,Humboldt County,Monterey County,Santa Barbara County,Yolo County,Imperial County,Napa County,Santa Clara County,Yuba County,year
3,49.9,50.0,40.1,33.9,31.7,44.0,34.3,34.7,44.3,31.9,...,49.9,43.7,50.0,51.5,48.7,59.2,47.8,48.8,46.4,200001

In [77]:
#renaming Tmax Column
def adding_string(value):
    return value + ' ' + 'Tavg'
col_county_2 = []
for col in col_county:
    col_county_2.append(adding_string(col))
dictionary_2 = dict(zip(col_county, col_county_2))
tavg.rename(columns=dictionary_2, inplace=True)

In [78]:
#changing dtypes as all objects
column = [col for col in tavg.columns]
for name in column:
    for col in tavg[name]:
       tavg[name] = tavg[name].astype(float)

In [79]:
tavg.dtypes

Alameda County Tavg            float64
Kings County Tavg              float64
Placer County Tavg             float64
Sierra County Tavg             float64
Alpine County Tavg             float64
Lake County Tavg               float64
Plumas County Tavg             float64
Siskiyou County Tavg           float64
Amador County Tavg             float64
Lassen County Tavg             float64
Riverside County Tavg          float64
Solano County Tavg             float64
Butte County Tavg              float64
Los Angeles County Tavg        float64
Sacramento County Tavg         float64
Sonoma County Tavg             float64
Calaveras County Tavg          float64
Madera County Tavg             float64
San Benito County Tavg         float64
Stanislaus County Tavg         float64
Colusa County Tavg             float64
Marin County Tavg              float64
San Bernardino County Tavg     float64
Sutter County Tavg             float64
Contra Costa County Tavg       float64
Mariposa County Tavg           float64
San Diego County Tavg          float64
Tehama County Tavg             float64
Del Norte County Tavg          float64
Mendocino County Tavg          float64
San Francisco County Tavg      float64
Trinity County Tavg            float64
El Dorado County Tavg          float64
Merced County Tavg             float64
San Joaquin County Tavg        float64
Tulare County Tavg             float64
Fresno County Tavg             float64
Modoc County Tavg              float64
San Luis Obispo County Tavg    float64
Tuolumne County Tavg           float64
Glenn County Tavg              float64
Mono County Tavg               float64
San Mateo County Tavg          float64
Ventura County Tavg            float64
Humboldt County Tavg           float64
Monterey County Tavg           float64
Santa Barbara County Tavg      float64
Yolo County Tavg               float64
Imperial County Tavg           float64
Napa County Tavg               float64
Santa Clara County Tavg        float64
Yuba County Tavg               float64
year                           float64
dtype: object

In [80]:
#saving df
tavg.to_csv('../datasets/tavg_cleaned.csv')

**Importing & Cleaning Precipitation**

In [81]:
p = pd.read_csv('../datasets/prec_raw.csv')
p.head(1)

,Unnamed: 0,Alameda County,California,Precipitation,Kings County,California.1,Precipitation.1,Placer County,California.2,Precipitation.2,...,Precipitation.48,Napa County,California.49,Precipitation.49,Santa Clara County,California.50,Precipitation.50,Yuba County,California.51,Precipitation.51
0,0,Units: Inches,NaN,NaN,Units: Inches,NaN,NaN,Units: Inches,NaN,NaN,...,NaN,Units: Inches,NaN,NaN,Units: Inches,NaN,NaN,Units: Inches,NaN,NaN

In [82]:
#dropping the precipitation column (wrongly imported and has only nan value)
col = [col for col in p.columns if 'Precipitation' not in col]
p= p[col]
#dropping the unnamed columns and first 3 rows as not needed
p.drop(columns='Unnamed: 0', inplace = True)
p = p.iloc[3:,:]
#creating the dictionary that I will use to rename the column of my df
col_county = [col for col in p.columns if 'County' in col]
col_california = [col for col in p.columns if 'California' in col]
dictionary = dict(zip(col_california,col_county))
#saving the year column as it will be imported later in the final df
year = p.iloc[:,0]
#now I can filter only the column with temperature value
p = p[col_california]
#renaming the column
p.rename(columns=dictionary, inplace=True)
#insert the year
p['year'] = year
#checking the df
p.head(1)

,Alameda County,Kings County,Placer County,Sierra County,Alpine County,Lake County,Plumas County,Siskiyou County,Amador County,Lassen County,...,Ventura County,Humboldt County,Monterey County,Santa Barbara County,Yolo County,Imperial County,Napa County,Santa Clara County,Yuba County,year
3,5.94,1.39,13.47,12.84,10.06,9.42,11.80,10.72,11.28,5.05,...,2.05,15.67,6.39,1.87,5.29,0.00,6.94,7.50,9.21,200001

In [83]:
#renaming Tmax Column
def adding_string(value):
    return value + ' ' + 'Precip'
col_county_2 = []
for col in col_county:
    col_county_2.append(adding_string(col))
dictionary_2 = dict(zip(col_county, col_county_2))
p.rename(columns=dictionary_2, inplace=True)

In [84]:
#changinf dtypes as all objects
column = [col for col in p.columns]
for name in column:
    for col in p[name]:
       p[name] = p[name].astype(float)

In [85]:
p.dtypes

Alameda County Precip            float64
Kings County Precip              float64
Placer County Precip             float64
Sierra County Precip             float64
Alpine County Precip             float64
Lake County Precip               float64
Plumas County Precip             float64
Siskiyou County Precip           float64
Amador County Precip             float64
Lassen County Precip             float64
Riverside County Precip          float64
Solano County Precip             float64
Butte County Precip              float64
Los Angeles County Precip        float64
Sacramento County Precip         float64
Sonoma County Precip             float64
Calaveras County Precip          float64
Madera County Precip             float64
San Benito County Precip         float64
Stanislaus County Precip         float64
Colusa County Precip             float64
Marin County Precip              float64
San Bernardino County Precip     float64
Sutter County Precip             float64
Contra Costa County Precip       float64
Mariposa County Precip           float64
San Diego County Precip          float64
Tehama County Precip             float64
Del Norte County Precip          float64
Mendocino County Precip          float64
San Francisco County Precip      float64
Trinity County Precip            float64
El Dorado County Precip          float64
Merced County Precip             float64
San Joaquin County Precip        float64
Tulare County Precip             float64
Fresno County Precip             float64
Modoc County Precip              float64
San Luis Obispo County Precip    float64
Tuolumne County Precip           float64
Glenn County Precip              float64
Mono County Precip               float64
San Mateo County Precip          float64
Ventura County Precip            float64
Humboldt County Precip           float64
Monterey County Precip           float64
Santa Barbara County Precip      float64
Yolo County Precip               float64
Imperial County Precip           float64
Napa County Precip               float64
Santa Clara County Precip        float64
Yuba County Precip               float64
year                             float64
dtype: object

In [86]:
#saving df
p.to_csv('../datasets/prec_cleaned.csv')

concatenate all in one df

In [87]:
frame = [tmax, tmin, tavg, p]

In [88]:
df = pd.concat(frame, axis=1).T.reset_index().sort_values(by='index', ascending=True).iloc[:-3,:]
df = df.T

In [89]:
df = df.rename(columns=df.loc['index']).iloc[1:,:]

In [90]:
df.to_csv('../datasets/climate_counties.csv')

In [91]:
counties=['Napa', 'Sonoma', 'San Joaquin', 'Fresno', 'San Luis Obispo', 'Sacramento', 'Madera', 'Monterey', 'Yolo', 'Santa Barbara']
counties.sort()

In [92]:
counties

['Fresno',
 'Madera',
 'Monterey',
 'Napa',
 'Sacramento',
 'San Joaquin',
 'San Luis Obispo',
 'Santa Barbara',
 'Sonoma',
 'Yolo']

In [93]:
for county in counties:
    if county in df.columns:
        print(county)

In [94]:
# Check counties
for column in df.columns:
    print(column)

Alameda County Precip
Alameda County Tavg
Alameda County Tmax
Alameda County Tmin
Alpine County Precip
Alpine County Tavg
Alpine County Tmax
Alpine County Tmin
Amador County Precip
Amador County Tavg
Amador County Tmax
Amador County Tmin
Butte County Precip
Butte County Tavg
Butte County Tmax
Butte County Tmin
Calaveras County Precip
Calaveras County Tavg
Calaveras County Tmax
Calaveras County Tmin
Colusa County Precip
Colusa County Tavg
Colusa County Tmax
Colusa County Tmin
Contra Costa County Precip
Contra Costa County Tavg
Contra Costa County Tmax
Contra Costa County Tmin
Del Norte County Precip
Del Norte County Tavg
Del Norte County Tmax
Del Norte County Tmin
El Dorado County Precip
El Dorado County Tavg
El Dorado County Tmax
El Dorado County Tmin
Fresno County Precip
Fresno County Tavg
Fresno County Tmax
Fresno County Tmin
Glenn County Precip
Glenn County Tavg
Glenn County Tmax
Glenn County Tmin
Humboldt County Precip
Humboldt County Tavg
Humboldt County Tmax
Humboldt County Tmin
Imperial County Precip
Imperial County Tavg
Imperial County Tmax
Imperial County Tmin
Kings County Precip
Kings County Tavg
Kings County Tmax
Kings County Tmin
Lake County Precip
Lake County Tavg
Lake County Tmax
Lake County Tmin
Lassen County Precip
Lassen County Tavg
Lassen County Tmax
Lassen County Tmin
Los Angeles County Precip
Los Angeles County Tavg
Los Angeles County Tmax
Los Angeles County Tmin
Madera County Precip
Madera County Tavg
Madera County Tmax
Madera County Tmin
Marin County Precip
Marin County Tavg
Marin County Tmax
Marin County Tmin
Mariposa County Precip
Mariposa County Tavg
Mariposa County Tmax
Mariposa County Tmin
Mendocino County Precip
Mendocino County Tavg
Mendocino County Tmax
Mendocino County Tmin
Merced County Precip
Merced County Tavg
Merced County Tmax
Merced County Tmin
Modoc County Precip
Modoc County Tavg
Modoc County Tmax
Modoc County Tmin
Mono County Precip
Mono County Tavg
Mono County Tmax
Mono County Tmin
Monterey County Precip
Monterey County Tavg
Monterey County Tmax
Monterey County Tmin
Napa County Precip
Napa County Tavg
Napa County Tmax
Napa County Tmin
Placer County Precip
Placer County Tavg
Placer County Tmax
Placer County Tmin
Plumas County Precip
Plumas County Tavg
Plumas County Tmax
Plumas County Tmin
Riverside County Precip
Riverside County Tavg
Riverside County Tmax
Riverside County Tmin
Sacramento County Precip
Sacramento County Tavg
Sacramento County Tmax
Sacramento County Tmin
San Benito County Precip
San Benito County Tavg
San Benito County Tmax
San Benito County Tmin
San Bernardino County Precip
San Bernardino County Tavg
San Bernardino County Tmax
San Bernardino County Tmin
San Diego County Precip
San Diego County Tavg
San Diego County Tmax
San Diego County Tmin
San Francisco County Precip
San Francisco County Tavg
San Francisco County Tmax
San Francisco County Tmin
San Joaquin County Precip
San Joaquin County Tavg
San Joaquin County Tmax
San Joaquin County Tmin
San Luis Obispo County Precip
San Luis Obispo County Tavg
San Luis Obispo County Tmax
San Luis Obispo County Tmin
San Mateo County Precip
San Mateo County Tavg
San Mateo County Tmax
San Mateo County Tmin
Santa Barbara County Precip
Santa Barbara County Tavg
Santa Barbara County Tmax
Santa Barbara County Tmin
Santa Clara County Precip
Santa Clara County Tavg
Santa Clara County Tmax
Santa Clara County Tmin
Sierra County Precip
Sierra County Tavg
Sierra County Tmax
Sierra County Tmin
Siskiyou County Precip
Siskiyou County Tavg
Siskiyou County Tmax
Siskiyou County Tmin
Solano County Precip
Solano County Tavg
Solano County Tmax
Solano County Tmin
Sonoma County Precip
Sonoma County Tavg
Sonoma County Tmax
Sonoma County Tmin
Stanislaus County Precip
Stanislaus County Tavg
Stanislaus County Tmax
Stanislaus County Tmin
Sutter County Precip
Sutter County Tavg
Sutter County Tmax
Sutter County Tmin
Tehama County Precip
Tehama County Tavg
Tehama County Tmax
Tehama County Tmin
Trinity County Precip
Trinity County Tavg
Trinity County Tmax
Trinity County Tmin
Tulare County Precip
Tulare County Tavg
Tulare County Tmax
Tulare County Tmin
Tuolumne County Precip
Tuolumne County Tavg
Tuolumne County Tmax
Tuolumne County Tmin
Ventura County Precip
Ventura County Tavg
Ventura County Tmax
Ventura County Tmin
Yolo County Precip
Yolo County Tavg
Yolo County Tmax
Yolo County Tmin
Yuba County Precip
Yuba County Tavg
Yuba County Tmax
Yuba County Tmin
year

In [95]:
df[['Fresno County Precip','year']]

    Fresno County Precip      year
3                    5.2  200001.0
4                   7.24  200002.0
5                   1.67  200003.0
6                   1.79  200004.0
7                    0.7  200005.0
..                   ...       ...
239                 0.01  201909.0
240                  0.0  201910.0
241                 2.01  201911.0
242                 3.69  201912.0
243                  0.7  202001.0

[241 rows x 2 columns]

In [96]:
df[(df['year']>200000) & (df['year']<200100)]

,Alameda County Precip,Alameda County Tavg,Alameda County Tmax,Alameda County Tmin,Alpine County Precip,Alpine County Tavg,Alpine County Tmax,Alpine County Tmin,Amador County Precip,Amador County Tavg,...,Ventura County Tmin,Yolo County Precip,Yolo County Tavg,Yolo County Tmax,Yolo County Tmin,Yuba County Precip,Yuba County Tavg,Yuba County Tmax,Yuba County Tmin,year
3,5.94,49.9,57.0,42.8,10.06,31.7,38.4,25.0,11.28,44.3,...,39.4,5.29,48.7,57.4,40.1,9.21,46.4,53.7,39.1,200001.0
4,7.24,51.0,57.7,44.3,9.57,32.7,40.9,24.5,12.87,46.2,...,39.6,8.25,50.8,58.4,43.3,16.13,49.0,56.0,41.9,200002.0
5,1.92,53.5,63.1,43.8,1.67,35.2,46.4,24.0,2.04,49.5,...,38.4,2.12,55.4,67.0,43.7,3.78,52.9,63.9,42.0,200003.0
6,1.09,58.0,68.9,47.1,1.78,42.1,54.0,30.1,2.42,56.0,...,42.4,1.59,61.5,75.2,47.8,2.55,59.8,72.6,47.0,200004.0
7,1.0,62.1,73.3,51.0,2.35,47.7,58.8,36.5,3.5,60.7,...,48.2,1.15,67.1,80.8,53.4,1.94,64.8,77.4,52.2,200005.0
8,0.25,68.3,80.9,55.7,0.76,57.3,71.0,43.6,0.65,71.1,...,53.0,0.23,74.7,90.9,58.6,0.39,74.8,90.3,59.4,200006.0
9,0.0,67.5,79.2,55.8,0.04,59.6,73.4,45.8,0.0,71.1,...,53.4,0.0,73.6,90.4,56.9,0.0,73.8,89.9,57.7,200007.0
10,0.02,69.9,82.6,57.2,0.78,61.3,74.5,48.0,0.09,73.8,...,57.2,0.0,75.9,93.3,58.5,0.0,75.8,91.6,60.0,200008.0
11,0.22,68.8,81.2,56.5,0.95,54.1,66.8,41.4,1.03,67.6,...,52.9,0.16,71.9,87.3,56.6,0.78,70.3,84.6,56.0,200009.0
12,2.64,60.3,70.0,50.6,2.74,43.7,53.8,33.6,4.53,57.2,...,46.6,2.06,62.2,75.1,49.4,4.06,59.8,71.5,48.1,200010.0
13,0.73,49.7,58.8,40.6,1.61,32.6,43.0,22.2,1.7,45.3,...,36.6,0.86,49.3,59.7,38.8,1.5,47.5,57.5,37.4,200011.0
14,0.64,49.2,57.9,40.5,1.05,35.1,45.2,25.0,1.41,47.0,...,37.6,0.52,48.3,58.4,38.2,1.65,47.4,56.9,38.0,200012.0

In [97]:
counties

['Fresno',
 'Madera',
 'Monterey',
 'Napa',
 'Sacramento',
 'San Joaquin',
 'San Luis Obispo',
 'Santa Barbara',
 'Sonoma',
 'Yolo']

In [98]:
final_data=pd.DataFrame(columns=['year','county','annual_precip','annual_tavg','annual_tmin','annual_tmax','annual_var','season_precip','season_tavg','season_tmin','season_tmax','season_var'])
final_data

Empty DataFrame
Columns: [year, county, annual_precip, annual_tavg, annual_tmin, annual_tmax, annual_var, season_precip, season_tavg, season_tmin, season_tmax, season_var]
Index: []

In [99]:
year_min=2000_00
year_max=2001_00
for year in range(2000,2021):
    year_min=year*100
    year_max=year_min+100
    focus=df[(df['year']>year_min) & (df['year']<year_max)]
    for county in counties:
        precip=f'{county} County Precip'
        tavg=f'{county} County Tavg'
        tmin=f'{county} County Tmin'
        tmax=f'{county} County Tmax'
        annual_precip=focus[precip].sum()
        season_precip=focus[precip][3:9].sum()
        annual_tavg=focus[tavg].mean()
        season_tavg=focus[tavg][3:9].mean()
        annual_tmin=focus[tmin].min()
        season_tmin=focus[tmin][3:9].min()
        annual_tmax=focus[tmax].max()
        season_tmax=focus[tmax][3:9].max()
        tavg_list=focus[tavg].tolist()
        annual_var=0
        season_var=0
        if len(tavg_list)==12:
            for i in range(1,12):
                difference=tavg_list[i]-tavg_list[i-1]
                difference=np.abs(difference)
                annual_var+=difference
            for i in range(5,9):
                difference=tavg_list[i]-tavg_list[i-1]
                difference=np.abs(difference)
                season_var+=difference
        final_data.loc[len(final_data)]=[year,county,annual_precip,annual_tavg,annual_tmin,annual_tmax,annual_var,season_precip,season_tavg,season_tmin,season_tmax,season_var]

In [100]:
final_data.to_csv('../datasets/final_climate.csv')

# Merging To One Dataset
___

### Import climate and production datasets

In [101]:
production=pd.read_csv('../datasets/cleaned_production_data.csv')
climate=pd.read_csv('../datasets/final_climate.csv')

#### Ensure formatting of data

In [102]:
production[production['Year']==2013].head()

,Unnamed: 0,Year,County Code,County,Harvested Acres,Yield,Production,Price P/U,Value
465,31557,2013,1,Alameda,2800.0,5.82,16300.0,979.45,15965000
466,31558,2013,5,Amador,4040.0,3.61,14600.0,1281.71,18713000
467,31559,2013,9,Calaveras,910.0,2.7,2460.0,1388.21,3415000
468,31560,2013,11,Colusa,2460.0,8.29,20400.0,638.82,13032000
469,31561,2013,17,El Dorado,2120.0,2.71,5740.0,1395.64,8011000

In [103]:
production.shape

(767, 9)

In [104]:
production.loc[452,'County']='San Luis Obispo'

In [105]:
production.drop(columns=['Unnamed: 0'],inplace=True)
climate.drop(columns=['Unnamed: 0'],inplace=True)

In [106]:
production.sort_values('Year',inplace=True)

In [107]:
production.head()

,Year,County Code,County,Harvested Acres,Yield,Production,Price P/U,Value
0,2000,1,Alameda,2602,2.11,5483,1185,6498000
30,2000,999,State Totals,465775,7.94,3696758,518,1914640300
29,2000,115,Yuba,390,1.62,632,1242,785000
28,2000,113,Yolo,9496,6.86,65143,627,40873000
27,2000,107,Tulare,27688,10.42,288490,207,59835000

In [108]:
climate.head()

,year,county,annual_precip,annual_tavg,annual_tmin,annual_tmax,annual_var,season_precip,season_tavg,season_tmin,season_tmax,season_var
0,2000,Fresno,20.72,55.708333,31.4,87.1,59.4,3.44,65.416667,41.1,87.1,17.7
1,2000,Madera,25.89,56.516667,31.8,88.9,60.9,4.01,66.166667,41.0,88.9,18.2
2,2000,Monterey,22.95,58.633333,35.9,86.2,41.4,2.51,65.200000,43.0,86.2,9.3
3,2000,Napa,31.24,59.266667,38.1,88.6,49.0,4.21,67.183333,45.2,88.6,12.2
4,2000,Sacramento,23.98,61.741667,38.8,91.8,56.5,3.45,70.716667,48.3,91.8,14.8

In [109]:
production.shape

(767, 8)

In [110]:
climate.shape

(210, 12)

In [111]:
production['County'].unique()

array(['Alameda', 'State Totals', 'Yuba', 'Yolo', 'Tulare', 'Trinity',
       'Sonoma', 'Solano', 'Santa Clara', 'San Mateo', 'San Luis Obispo',
       'San Joaquin', 'San Diego', 'San Bernardino', 'San Benito',
       'Santa Cruz', 'Riverside', 'Sacramento', 'Calaveras', 'El Dorado',
       'Fresno', 'Kern', 'Lake', 'Madera', 'Kings', 'Marin', 'Mariposa',
       'Mendocino', 'Merced', 'Napa', 'Nevada', 'Santa Barbara', 'Placer',
       'Amador', 'Monterey', 'Sum of Others', 'Shasta', 'Mono', 'Colusa',
       'State Total', 'Contra Costa', 'Tehama', 'Stanislaus'],
      dtype=object)

In [112]:
climate['county'].unique()

array(['Fresno', 'Madera', 'Monterey', 'Napa', 'Sacramento',
       'San Joaquin', 'San Luis Obispo', 'Santa Barbara', 'Sonoma',
       'Yolo'], dtype=object)

#### Filter to most important counties

In [113]:
counties=['Napa', 'Sonoma', 'San Joaquin', 'Fresno', 'San Luis Obispo', 'Sacramento', 'Madera', 'Monterey', 'Yolo', 'Santa Barbara']

In [114]:
climate[climate['county'].isin(counties)]

,year,county,annual_precip,annual_tavg,annual_tmin,annual_tmax,annual_var,season_precip,season_tavg,season_tmin,season_tmax,season_var
0,2000,Fresno,20.72,55.708333,31.4,87.1,59.4,3.44,65.416667,41.1,87.1,17.7
1,2000,Madera,25.89,56.516667,31.8,88.9,60.9,4.01,66.166667,41.0,88.9,18.2
2,2000,Monterey,22.95,58.633333,35.9,86.2,41.4,2.51,65.200000,43.0,86.2,9.3
3,2000,Napa,31.24,59.266667,38.1,88.6,49.0,4.21,67.183333,45.2,88.6,12.2
4,2000,Sacramento,23.98,61.741667,38.8,91.8,56.5,3.45,70.716667,48.3,91.8,14.8
...,...,...,...,...,...,...,...,...,...,...,...,...
205,2020,San Joaquin,1.05,49.700000,41.0,58.4,0.0,0.00,NaN,NaN,NaN,0.0
206,2020,San Luis Obispo,0.61,48.900000,37.8,60.0,0.0,0.00,NaN,NaN,NaN,0.0
207,2020,Santa Barbara,0.63,50.500000,39.3,61.6,0.0,0.00,NaN,NaN,NaN,0.0
208,2020,Sonoma,3.92,49.200000,41.0,57.3,0.0,0.00,NaN,NaN,NaN,0.0
209,2020,Yolo,1.45,48.500000,39.3,57.7,0.0,0.00,NaN,NaN,NaN,0.0

In [115]:
production=production[production['County'].isin(counties)].copy()

In [116]:
production.shape

(207, 8)

In [117]:
climate.shape

(210, 12)

#### Ensure dataset key features match

In [118]:
climate[climate['county']=='Fresno']

,year,county,annual_precip,annual_tavg,annual_tmin,annual_tmax,annual_var,season_precip,season_tavg,season_tmin,season_tmax,season_var
0,2000,Fresno,20.72,55.708333,31.4,87.1,59.4,3.44,65.416667,41.1,87.1,17.7
10,2001,Fresno,23.21,56.366667,28.4,88.6,69.6,3.72,66.283333,35.7,88.6,10.8
20,2002,Fresno,15.55,55.883333,29.0,90.2,69.8,1.82,65.616667,39.8,90.2,23.0
30,2003,Fresno,16.46,56.491667,31.9,91.8,74.4,5.77,65.500000,36.1,91.8,23.7
40,2004,Fresno,18.64,55.825000,30.9,88.6,66.2,0.91,65.800000,41.0,88.6,20.0
50,2005,Fresno,24.86,55.666667,32.6,91.8,68.8,4.95,64.000000,36.2,91.8,31.1
60,2006,Fresno,23.48,55.450000,29.8,92.2,81.9,6.83,65.916667,38.9,92.2,26.0
70,2007,Fresno,10.33,55.850000,25.4,88.9,71.9,1.71,65.583333,40.0,88.9,22.5
80,2008,Fresno,16.06,56.183333,29.2,89.8,71.6,0.97,66.166667,37.2,89.8,21.0
90,2009,Fresno,16.71,55.866667,29.8,90.9,70.6,2.10,66.333333,37.2,90.9,16.1
100,2010,Fresno,29.56,54.608333,32.6,88.9,63.4,4.41,63.100000,35.0,88.9,26.8
110,2011,Fresno,17.62,54.291667,26.5,87.7,65.2,3.49,63.566667,37.3,87.7,20.5
120,2012,Fresno,16.34,56.716667,31.5,90.8,68.5,3.05,66.516667,39.8,90.8,20.0
130,2013,Fresno,5.29,56.750000,28.1,91.0,72.2,1.34,66.916667,42.1,91.0,25.4
140,2014,Fresno,12.44,59.016667,34.4,90.3,61.6,2.59,67.650000,41.7,90.3,20.4
150,2015,Fresno,12.23,57.625000,29.0,87.5,64.7,2.95,66.366667,40.1,87.5,19.5
160,2016,Fresno,19.60,57.308333,31.0,90.2,66.5,2.92,66.683333,41.9,90.2,23.0
170,2017,Fresno,27.16,57.341667,31.2,91.9,69.3,4.30,66.916667,39.7,91.9,25.8
180,2018,Fresno,16.87,57.358333,31.0,92.1,71.2,2.24,67.000000,40.9,92.1,27.0
190,2019,Fresno,25.12,55.783333,29.2,88.7,74.5,4.31,65.466667,43.0,88.7,26.9
200,2020,Fresno,0.70,41.800000,31.7,51.9,0.0,0.00,NaN,NaN,NaN,0.0

In [119]:
production[production['County']=='Fresno']

,Year,County Code,County,Harvested Acres,Yield,Production,Price P/U,Value
3,2000,19,Fresno,75139,11.12,835310,177,147550000
34,2001,19,Fresno,76393,8.37,639180,167,106924000
68,2002,19,Fresno,85701,10.83,928100,141,131189000
103,2003,19,Fresno,72186,10.09,728500,166.12,121015000
138,2004,19,Fresno,96692,9.01,871000,226.31,197117000
174,2005,19,Fresno,77598,11.32,878500,223.29,196162000
210,2006,19,Fresno,64116,8.83,566400,209.56,118692000
246,2007,19,Fresno,61224,11.81,722800,214.36,154942000
282,2008,19,Fresno,69631,14.94,1040100,250.93,260990000
317,2009,19,Fresno,64376,12.48,803560,253.16,203428000
354,2010,19,Fresno,60100,14.69,883000,279.97,247213000
393,2011,19,Fresno,68900,13.13,905000,335.5,303628000
432,2012,19,Fresno,86700,10.38,900000,385.48,346934000
470,2013,19,Fresno,54571.0,13.12,716000.0,409.68,293328000
508,2014,19,Fresno,58700.0,11.24,660000.0,391.95,258688000
544,2015,19,Fresno,60200.0,12.79,770000.0,312.55,240662000
581,2016,19,Fresno,75500.0,10.0,755000.0,382.85,289053000
619,2017,19,Fresno,59700,13.32,795000,361.02,287013000
657,2018,19,Fresno,59500,12.92,769000,373.14,286941000
696,2019,19,Fresno,53500,13.83,740000,343.65,254300000
736,2020,19,Fresno,56900,12.13,690000,362.14,249877000

In [120]:
production.sort_values(by=['Year','County'],inplace=True)

In [121]:
climate.sort_values(by=['year','county'],inplace=True)

In [122]:
production.head()

,Year,County Code,County,Harvested Acres,Yield,Production,Price P/U,Value
3,2000,19,Fresno,75139,11.12,835310,177,147550000
7,2000,39,Madera,56410,9.92,559563,186,103830000
12,2000,55,Napa,32365,4.23,136962,2464,337469000
15,2000,67,Sacramento,25024,7.10,177670,536,95231000
19,2000,77,San Joaquin,80711,7.74,624800,473,295793000

In [123]:
climate.head()

,year,county,annual_precip,annual_tavg,annual_tmin,annual_tmax,annual_var,season_precip,season_tavg,season_tmin,season_tmax,season_var
0,2000,Fresno,20.72,55.708333,31.4,87.1,59.4,3.44,65.416667,41.1,87.1,17.7
1,2000,Madera,25.89,56.516667,31.8,88.9,60.9,4.01,66.166667,41.0,88.9,18.2
2,2000,Monterey,22.95,58.633333,35.9,86.2,41.4,2.51,65.200000,43.0,86.2,9.3
3,2000,Napa,31.24,59.266667,38.1,88.6,49.0,4.21,67.183333,45.2,88.6,12.2
4,2000,Sacramento,23.98,61.741667,38.8,91.8,56.5,3.45,70.716667,48.3,91.8,14.8

In [124]:
production.reset_index(drop=True,inplace=True)

In [125]:
production.head()

,Year,County Code,County,Harvested Acres,Yield,Production,Price P/U,Value
0,2000,19,Fresno,75139,11.12,835310,177,147550000
1,2000,39,Madera,56410,9.92,559563,186,103830000
2,2000,55,Napa,32365,4.23,136962,2464,337469000
3,2000,67,Sacramento,25024,7.10,177670,536,95231000
4,2000,77,San Joaquin,80711,7.74,624800,473,295793000

In [126]:
production.shape

(207, 8)

In [127]:
production.head()

,Year,County Code,County,Harvested Acres,Yield,Production,Price P/U,Value
0,2000,19,Fresno,75139,11.12,835310,177,147550000
1,2000,39,Madera,56410,9.92,559563,186,103830000
2,2000,55,Napa,32365,4.23,136962,2464,337469000
3,2000,67,Sacramento,25024,7.10,177670,536,95231000
4,2000,77,San Joaquin,80711,7.74,624800,473,295793000

In [128]:
production['Year'].unique()

array([2000, 2001, 2002, 2003, 2004, 2005, 2006, 2007, 2008, 2009, 2010,
       2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020])

#### Check for missing values

In [129]:
production['Year'].value_counts()
# 2000 is missing Monterey and Santa Barbara
# 2001 is missing Monterey

2010    10
2011    10
2019    10
2018    10
2017    10
2016    10
2015    10
2014    10
2013    10
2012    10
2020    10
2009    10
2008    10
2007    10
2006    10
2005    10
2004    10
2003    10
2002    10
2001     9
2000     8
Name: Year, dtype: int64

In [130]:
climate['year'].value_counts()

2000    10
2011    10
2019    10
2018    10
2017    10
2016    10
2015    10
2014    10
2013    10
2012    10
2010    10
2001    10
2009    10
2008    10
2007    10
2006    10
2005    10
2004    10
2003    10
2002    10
2020    10
Name: year, dtype: int64

#### Match columns

In [131]:
production.columns=production.columns.str.lower()

#### Merge dataframes

In [132]:
merged=production.merge(climate,left_on=['year','county'],right_on=['year','county'])

#### Export to final combined Dataframe

In [133]:
merged.to_csv('../datasets/final_merged_data.csv',index=False)